* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0 1rem;
  min-height: 90vh;
}
.site-title {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: darkturquoise;
  text-align: center;
}
.site-subtitle {
  display: none;
}
nav ul {
  padding: 0;
  margin: 0 -1rem;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  background-color: darkturquoise;
  color: white;
}
nav li {
  padding: 0.5em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 1 1 auto;
  border-bottom: 2px solid transparent;
}
nav .active {
  border-bottom-color: darkorange;
  font-weight: bold;
}
nav li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 60rem) {
  header {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: inline-block;
    margin-top: 0.5rem;
    padding: 3.5rem 0 0.5rem 5rem;
    background-image: url('talug.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
  }
  .site-title {
    padding: 0;
    font-size: 2rem;
    position: absolute;
    left: 5rem;
    right: 0;
    top :0;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: justify;
  }
  .site-title::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
  }
  .site-subtitle {
    display: block;
    margin: 0 0 0.5rem;
  }
  nav ul {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100vw;
    margin: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  nav li {
    width: 10rem;
    flex: 0 0 auto;
    margin-bottom: -2px;
  }
}
